/*body {
  margin: 2em;
  background-color: red;
}


#aaa {
  animation-name: tecza;
  animation-duration:1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes tecza {
  0% {color: red;}
  12% {color: orange;}
  24% {color: yellow;}
  36% {color: greenyellow;}
  48% {color: green;}
  60% {color: dodgerblue;}
  72% {color: blue;}
  84% {color: darkblue;}
  96% {color: blueviolet;}
}
*/
body{ 
    overflow: hidden;
	color: red;
	background: url("back.jpg")no-repeat center center fixed;
}
#aaa{
    position: absolute;
	left: 50%
    white-space: nowrap;
	 animation-name: chmura1;
  animation-duration:25s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
   
}

@-webkit-keyframes chmura1{
  0% {
    left: -10%;
  }
  100% {
    /* left: auto; */
    left: 100%;
  }
}

#aaa2{
    position: absolute;
    white-space: nowrap;
	 animation-name: chmura2;
  animation-duration:10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
   
}

@-webkit-keyframes chmura2{
  0% {
    left: 50%;
  }
  100% {
    /* left: auto; */
    left: 100%;
  }
}

#aaa3{
    position: absolute;
	left: -10%;
    white-space: nowrap;
	 animation-name: chmura22;
  animation-duration:10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

   
}

@-webkit-keyframes chmura22{
  from {
    left: -10%;
  }
  to {
    /* left: auto; */
    left: 50%;
  }
}

#start {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
    height: 15%;
    width: 20%;
	left:40%;
    line-height: 100px;
	border: 3px solid #73AD21;
	bottom: 5%;
	
}
#f {	
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
    height: 15%;
    width: 20%;
	left:40%;
    line-height: 200px;
	border: 3px solid #73AD21;
	bottom: 35%;
}

#submitbutton {	
	margin: auto;
	width: 250px;
    height: 80px;
}


#skeleton {
 position: fixed;
    bottom: 0px;
    left: 0px;	
}

#clickMe{
	position: fixed;
    bottom: 300px;
    left: 130px;
	
}
	
	
	
	
}